html, body {
	background: transparent;
	height: 100%;
}

/* Make the main menu slightly transparent (don't use blur, it is slow) */
#menu {
	background-color: rgba(var(--gBgColor), 0.7);
}

#menu a {
	color: rgb(var(--gTextColor));
	font-weight: normal;
}

main {
	background-color: #fff;
	min-height: calc(100% - 1.2em);
}

#menu h3 span[data-icon]::before {
	color: rgba(var(--gTextColor), 0.5);
}

/* Style the main scrollbar so that it's less ugly */
::-webkit-scrollbar {
	width: 16px;
	height: 16px
	background-color: rgba(var(--gBgColor), 0.7);
}

::-webkit-scrollbar-corner {
	background-color: rgba(var(--gBgColor), 0.7);
}

::-webkit-scrollbar-track-piece {
	background-color: rgba(var(--gBgColor), 0.7);
}

::-webkit-scrollbar-thumb {
	background: rgba(var(--gTextColor), .5);
	border-radius: .5em;
	border: 2px solid transparent;
	background-clip: content-box;
}

/* View transitions between page loads */
@view-transition {
    navigation: auto;
}
